.group-contents {
  width: 100%;
  margin-bottom: 30px;
}

.group-contents>.group--title {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.group-contents>.group--items {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}